@* @inject IJSRuntime JS *@
@inject IDialogService DialogService

<button @attributes="AtributosAdicionales" type="@Tipo.ToString()" disabled="@Disabled"
class="@ClaseCSS" @onclick="@(() => OnClickInterno(_topCenter))"
>@ChildContent</button>

@code {
    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public BotonTipo Tipo { get; set; } = BotonTipo.button;
    [Parameter] public Variante Variante { get; set; } = Variante.primario;
    [Parameter] public Tamaño Tamaño { get; set; } = Tamaño.md;
    [Parameter(CaptureUnmatchedValues = true)] 
        public Dictionary<string, object>? AtributosAdicionales { get; set; } 
    [Parameter] public EventCallback OnClick { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; } = @<text>Enviar</text>  ;
    [Parameter] public string? MensajeConfirmacion { get; set; }
    private readonly DialogOptions _topCenter = new() { Position = DialogPosition.TopCenter };

    private async Task OnClickInterno(DialogOptions options)
    {
        if (!string.IsNullOrEmpty(MensajeConfirmacion))
        {
            // var confirmado = await JS.Confirm(MensajeConfirmacion);

            // if (!confirmado)
            // {
            //     return;
            // }
            bool? result = await DialogService.ShowMessageBoxAsync(
            "Warning", 
            MensajeConfirmacion, 
            yesText:"Delete!", cancelText:"Cancel", options: options);
            var state = result == null ? "Canceled" : "Deleted!";
            if (state == "Canceled")
            {
                return;
            }
        }

        await OnClick.InvokeAsync();
    }
        
    private string ClaseCSS
    {
        get
        {
            var clasesdeCSSPadre = string.Empty;

            if (AtributosAdicionales is not null && AtributosAdicionales.ContainsKey("class"))
            {
                clasesdeCSSPadre = AtributosAdicionales["class"]?.ToString() ?? string.Empty;
            }

            string[] clases = [
                "btn",
                Variante switch
                {
                    Variante.primario => "btn-primary",
                    Variante.secundario => "btn-secondary",
                    Variante.exitoso => "btn-success",
                    Variante.error => "btn-danger",
                    Variante.advertencia => "btn-warning",
                    _ => "btn-primary"
                },
                Tamaño switch
                {
                    Tamaño.sm => "btn-sm",
                    Tamaño.md => "btn-md",
                    Tamaño.lg => "btn-lg",
                    _ => "btn-md"
                },
                clasesdeCSSPadre
            ];
            //btn btn-primary btn-md
            return string.Join(" ", clases);
        }
    }
}
